page-home {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            height: 50%;
            ion-card-content ion-card-title {
                position: absolute;
                top: 36%;
                font-size: 1.0em;
                width: 100%;
                font-weight: bold;
                color: #fff;
            }
            ion-card-content p {
                font-size: 1.0em;
                position: absolute;
                top: 52%;
                width: 100%;
                color: #fff;
            }
        }
    }
    ion-card .card-image {
        height: 200px;
        overflow: hidden;
    }
}