page-reader {
    .scroll-content{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/images/Congregation%20Singing.jpg');
        background-size: cover;
        .hymn-content{
            margin-bottom: 20px;
            display: block;

            .hymn-title{
                margin-bottom: 20px;
            }        

            .hymn-stanza {
                display: block;
                margin-bottom: 20px;
                
                .hymn-line{
                    display: block;
                    line-height: 150%;
                }
            }
        }
    }    
}
